*
!.gitignore
!Cargo.toml
!README.md
!LICENSE
!.pre-commit-config.yml
!.pre-commit-config.yaml
!justfile
!Dockerfile
!INSTALL.sh

!/src
!/src/*.rs

!/tests

!/examples

!/docs

!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml


